html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #555555;
}

.App {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.Board {
    display: inline-block;
    font-size: 0.8rem;
    font-family: monospace;
    color: #ffffff;
    background-color: #000000;
    margin-bottom: 1rem;
}

.Link {
    font-size: 1.5rem;
    color: #00ccff;
    margin-right: 1.5rem;
}

.Link:focus,
.Link:hover,
.Link:active {
    color: #00ffff;
}

.Link:last-child {
    margin-right: 0;
}
